.contenedorPagina{
    display: flex;
    justify-content: center;
}

form{
    width: 700px;
    height: fit-content;
    padding: 10px 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.contenedorFormulario>div{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 0 10px;
}

.contenedorAtributos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
}

#titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

#checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.contenedorCheckboxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grupoCheckbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
}

.grupoCheckbox>div{
    margin: 0 5px;
}