.contenedorPaginaVideojuegos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.grupoCheckbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grupoCheckbox>div{
    margin: 0 5px;
}